<div class="linkslist">
  <p class="asidetitle"><%= __('links') %></p>
    <ul>
      <li><a href="http://hexo.io/" target="_blank" title="Hexo静态BLOG生成器">Hexo静态BLOG</a></li>
      <li><a href="http://luoguochun.cn/" target="_blank" title="LGC'S BLOG">HLGC'S BLOG</a></li>
    </ul>
</div>